{% extends 'base.html' %} {% block content %} {% load static %}

<div class="inner">
  <div class="vec">
    <div class="img">
      <img src="{% static 'img/home.jpg' %}" />
    </div>
  </div>
</div>
<div class="card">
  <div class="txt">
    <h2>Timetable Generator</h2>
    <p>
      <h3>Let AI work for you.</h3>
      Add your university class details and generate Time
      Table.
    </p>
  </div>
  <div class="crdbtn">
    <a href="{% url 'mm1:timetable' %}" class="btn">Generate Timetable</a>
  </div>
</div>
{% endblock %}
